
<h1>About Me</h1>

<p>My name is Songtham Tungkitkancharoen and this is my pinterest clone app project built on Ruby on Rails!<br/>
You can visit my code at <%= link_to 'http://www.github.com/stxts', 'http://www.github.com/stxts' %></p>
